# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [47]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')  # or pd.read_excel('your_file.xlsx')
rows, columns = df.shape
print(f"Rows: {rows}, Columns: {columns}")

print(df.dtypes)

unique_counts = df.nunique()
print(unique_counts)

for col in df.columns:
    if pd.api.types.is_numeric_dtype(df[col]):
        print(f"{col} is a numerical column.")
    elif pd.api.types.is_categorical_dtype(df[col]) or df[col].dtype == 'object':
        print(f"{col} is a categorical column.")
    else:
        print(f"{col} has an unknown type.")

# unique values in categorical columns
for col in ['Customer','ST','Customer Lifetime Value', 'Number of Open Complaints','GENDER', 'Education', 'Policy Type', 'Vehicle Class']:
    unique_vals = df[col].unique()
    print(f"{col} - Unique values: {unique_vals}")

# unique values in numerical columns
for col in ['Income', 'Monthly Premium Auto','Total Claim Amount']:
    col_min = df[col].min()
    col_max = df[col].max()
    print(f"{col} - Range: {col_min} to {col_max}")

numeric_cols = df.select_dtypes(include=['number']).columns

for col in numeric_cols:
    col_mean = df[col].mean()
    col_median = df[col].median()
    col_mode = df[col].mode().iloc[0]  # Get the first mode if there are multiple
    print(f"{col} - Mean: {col_mean}, Median: {col_median}, Mode: {col_mode}")

# Example categorical columns
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

for col in categorical_columns:
    print(f"\nSummary for column: {col}")
    
    # Number of unique categories
    print(f"Unique categories: {df[col].nunique()}")
    
    # Frequency distribution
    print(f"Value counts:\n{df[col].value_counts(dropna=False)}")
    
    # Mode (most frequent category)
    print(f"Mode: {df[col].mode()[0]}")
    
    # Proportions of categories
    print(f"Proportion:\n{df[col].value_counts(normalize=True)}")

Rows: 4008, Columns: 11
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object
Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64
Customer is a categorical column.
ST is a categorical column.
GENDER is a categorical column.
Education is a categorical column.
Customer Lifetime Value is a categorical column.
Income is a numerical column.
Monthly Premium Auto is a numerical column.
Number of Open Complaints is a categorical column.
Policy Type is a categorical column.
Vehicle Class is a categorical column.
Total Claim Amount is a numerical column.
Customer - Unique values: ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
ST - Unique values: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Customer Lifetime Value - Unique values: [nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']
Number of Open Complaints - Unique values: ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
GENDER - Unique values: [nan 'F' 'M' 'Femal' 'Male' 'female']
Education - Unique values: ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Policy Type - Unique values: ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Vehicle Class - Unique values: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
Income - Range: 0.0 to 99960.0
Monthly Premium Auto - Range: 61.0 to 35354.0
Total Claim Amount - Range: 0.382107 to 2893.239678
Income - Mean: 39295.70121381886, Median: 36234.0, Mode: 0.0
Monthly Premium Auto - Mean: 193.234360410831, Median: 83.0, Mode: 65.0
Total Claim Amount - Mean: 404.98690940896364, Median: 354.729129, Mode: 321.6

Summary for column: Customer
Unique categories: 1071
Value counts:
Customer
NaN        2937
KH59823       1
HQ82233       1
OL72737       1
ZQ59828       1
           ...
RO26085       1
ES57969       1
JK55587       1
RN97635       1
TA82973       1
Name: count, Length: 1072, dtype: int64
Mode: AA71604
Proportion:
Customer
RB50392    0.000934
HJ15383    0.000934
AO74776    0.000934
HQ82233    0.000934
OL72737    0.000934
             ...
RO26085    0.000934
ES57969    0.000934
JK55587    0.000934
RN97635    0.000934
MY31220    0.000934
Name: proportion, Length: 1071, dtype: float64

Summary for column: ST
Unique categories: 8
Value counts:
ST
NaN           2937
Oregon         320
California     211
Arizona        186
Cali           120
Nevada          98
Washington      81
WA              30
AZ              25
Name: count, dtype: int64
Mode: Oregon
Proportion:
ST
Oregon        0.298786
California    0.197012
Arizona       0.173669
Cali          0.112045
Nevada        0.091503
Washington    0.075630
WA            0.028011
AZ            0.023343
Name: proportion, dtype: float64

Summary for column: GENDER
Unique categories: 5
Value counts:
GENDER
NaN       3054
F          457
M          413
Male        39
female      28
Femal       17
Name: count, dtype: int64
Mode: F
Proportion:
GENDER
F         0.479036
M         0.432914
Male      0.040881
female    0.029350
Femal     0.017820
Name: proportion, dtype: float64

Summary for column: Education
Unique categories: 6
Value counts:
Education
NaN                     2937
Bachelor                 324
College                  313
High School or Below     296
Master                    94
Doctor                    37
Bachelors                  7
Name: count, dtype: int64
Mode: Bachelor
Proportion:
Education
Bachelor                0.302521
College                 0.292250
High School or Below    0.276377
Master                  0.087768
Doctor                  0.034547
Bachelors               0.006536
Name: proportion, dtype: float64

Summary for column: Customer Lifetime Value
Unique categories: 1027
Value counts:
Customer Lifetime Value
NaN            2940
445811.34%        4
251459.20%        4
2412750.40%       3
684615.03%        3
               ...
1210120.88%       1
245357.08%        1
507566.27%        1
321497.94%        1
899704.02%        1
Name: count, Length: 1028, dtype: int64
Mode: 251459.20%
Proportion:
Customer Lifetime Value
445811.34%     0.003745
251459.20%     0.003745
272535.64%     0.002809
578018.22%     0.002809
684615.03%     0.002809
                 ...
245357.08%     0.000936
507566.27%     0.000936
321497.94%     0.000936
1227534.31%    0.000936
899704.02%     0.000936
Name: proportion, Length: 1027, dtype: float64

Summary for column: Number of Open Complaints
Unique categories: 6
Value counts:
Number of Open Complaints
NaN       2937
1/0/00     830
1/1/00     138
1/2/00      50
1/3/00      34
1/4/00      13
1/5/00       6
Name: count, dtype: int64
Mode: 1/0/00
Proportion:
Number of Open Complaints
1/0/00    0.774977
1/1/00    0.128852
1/2/00    0.046685
1/3/00    0.031746
1/4/00    0.012138
1/5/00    0.005602
Name: proportion, dtype: float64

Summary for column: Policy Type
Unique categories: 3
Value counts:
Policy Type
NaN               2937
Personal Auto      780
Corporate Auto     234
Special Auto        57
Name: count, dtype: int64
Mode: Personal Auto
Proportion:
Policy Type
Personal Auto     0.728291
Corporate Auto    0.218487
Special Auto      0.053221
Name: proportion, dtype: float64

Summary for column: Vehicle Class
Unique categories: 6
Value counts:
Vehicle Class
NaN              2937
Four-Door Car     576
Two-Door Car      205
SUV               199
Sports Car         57
Luxury SUV         20
Luxury Car         14
Name: count, dtype: int64
Mode: Four-Door Car
Proportion:
Vehicle Class
Four-Door Car    0.537815
Two-Door Car     0.191410
SUV              0.185808
Sports Car       0.053221
Luxury SUV       0.018674
Luxury Car       0.013072
Name: proportion, dtype: float64

C:\Users\maxpi\AppData\Local\Temp\ipykernel_20044\1480647802.py:15: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  elif pd.api.types.is_categorical_dtype(df[col]) or df[col].dtype == 'object':

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [55]:
least_common_locations = df['ST'].value_counts().sort_values(ascending=True).head(5)
print(least_common_locations)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [66]:
total_number_policies = df['Policy Type'].value_counts().sort_values(ascending=False)
print(total_number_policies)

most_common_policy_type = df['Policy Type'].value_counts().idxmax()

# Print the most common policy type
print(f"The most common policy type is: {most_common_policy_type}")

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
The most common policy type is: Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
# Your code here

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here